log:
  debug: false
  logLevel: INFO

apiServer:
  host: 127.0.0.1
  port: 27000



netConfig:
  global:
  http:
    - port: 8091
      bind: 3
      default:
        backend: http://localhost:8095
        middlewares:
         - type: "Metrics"
         - type: "Headers"
           options:
            set-headers-req:
             X-Proxy-Secret: $file:/run/secrets/proxy_secret
            set-headers-res:
              X-Proxy-Id: MicroProxy
              X-Proxy-Version: 1.0.0
            strip-headers-req:
             - X-Proxy-Secret
             - X-Forwarded-For
             - X-Forwarded-Host
            strip-headers-res:
             - Server
             - X-Powered-By
             - Date
            cmp-headers-req:
             X-Proxy-Secret: $env:PROXY_SECRET
        paths:


    - port:  8092
      bind: 3
      default:
        backend: http://localhost:8095
