log:
  debug: false
  logLevel: INFO

apiServer:
  host: 127.0.0.1
  port: 27000

netConfig:
  http:
    - port: 8091
      bind: 3
      default:
        backend: http://localhost:8095
        middlewares:
         - type: "Metrics"
    - port:  8092
      bind: 3
      default:
        backend: http://localhost:8095
