log:
  debug: false
  logLevel: DEBUG

apiServer:
  host: 127.0.0.1
  port: 27000

netConfig:
  http:

    - port: 8091
      bind: 3
      default:
        backend: http://localhost:8095
        middlewares:
          - type: "RequestId"
          - type: "RequestLog"
          - type: "Headers"
            options:
              cmp-headers-req:
                X-Proxy-Id: MicroProxy

        paths:
          # Exact match: only /health gets just RequestId
          - pattern: /health
            middlewares:
              - type: "RequestId"


          - pattern: /api/v1/users/*
            middlewares:
              - type: "Metrics"
              - type: "RequestId"
              - type: "RequestLog"
              - type: "Headers"
                options:
                  set-headers-res:
                    X-Api-Version: "1.0"


          - pattern: /users/*/start
            middlewares:
              - type: "RequestId"
              - type: "RequestLog"
              - type: "Metrics"


          - pattern: /users/admin/start
            middlewares:
              - type: "RequestId"


          - pattern: /static/
            middlewares:
              - type: "RequestId"


    - port: 8092
      bind: 3
      routes:
        - host: immitch.omeudominio.it
          target:
            backend: http://localhost:8095
            middlewares:
              - type: "RequestId"
              - type: "RequestLog"
              - type "Limiter"
                options:
                  mode: "per-client"
                  limiter-req:
                    rate-per-second: 5
                    burst: 10
              - type: "Headers"
                options:
                  cmp-headers-req:
                    X-Host-Name: immitch.omeudominio.it
            paths:
              - pattern: /api/*
                middlewares:
                  - type: "Metrics"
                  - type: "RequestId"
                  - type: "RequestLog"

        - host: static.localhost:8092
          target:
            backend: http://localhost:8095
            middlewares:
              - type: "RequestId"


      default:
        backend: http://localhost:8095
        middlewares:
          - type: "RequestId"

