# Barebones config for running torii in a container.

log:
  debug: false
  logLevel: DEBUG
  encoding: console
  color: true

apiServer:
  host: 0.0.0.0
  port: 27000

netConfig:
  http:
    - port: 8091
      bind: 3
      default:
        backend: http://localhost:8095
        middlewares:
          - type: "RequestId"
          - type: "RequestLog"
          - type: "Metrics"

